<section class="sectionPadding" style="background: var(--gray)">
  <div class="section-header mb-3 mb-lg-5 text-center">
    <h4 class="section-header-title">الدورات التدريبية</h4>
    <p class="section-header-desc">
      أكاديمية تعليمية أونلاين تهدف إلى تقديم محتوى تدريبي عالي الجودة يساعد
      الأفراد على
    </p>
  </div>

  <div class="container">
    <div class="row g-4 justify-content-center">
      <div class="col-md-6">
        <div class="text-center p-4 bg-white rounded-3 h-100">
          <img
            src="assets/images/goal-icon.png"
            alt=""
            class="mb-3"
            style="width: 60px"
          />

          <h4 class="text-primary fw-medium mb-3">هدف اكاديمية الرؤية</h4>
          <p style="font-size: 14px">
            نسعى إلى بناء بيئة تعليمية متكاملة تمكّن الأفراد من اكتساب مهارات
            عملية حقيقية تواكب متطلبات سوق العمل المتطور، نهدف إلى مساعدة الطلاب
            على الانتقال من مرحلة التعلم النظري إلى التطبيق الفعلي من خلال محتوى
            تدريبي احترافي، ومشاريع عملية، وتجارب تعليمية تفاعلية تضمن تحقيق
            أقصى استفادة ممكنة.
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="text-center p-4 bg-white rounded-3 h-100">
          <img
            src="assets/images/rocket-icon.png"
            alt=""
            class="mb-3"
            style="width: 60px"
          />
          <h4 class="text-primary fw-medium mb-3">مهمتنا اكاديمية الرؤية</h4>
          <p style="font-size: 14px">
            تتمثل رسالتنا في تقديم تجربة تعليمية أونلاين مرنة وسهلة الوصول،
            تعتمد على تبسيط المفاهيم المعقدة وتحويلها إلى معرفة عملية قابلة
            للتطبيق، نحرص على توفير محتوى محدث باستمرار يقدمه مدربون متخصصون
            بخبرة حقيقية، مع تقديم دعم مستمر للطلاب لضمان تحقيق نتائج ملموسة.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
