<section class="sectionPadding" style="background: var(--gray)">
  <div class="section-header mb-3 mb-lg-5">
    <h4 class="section-header-title">الدورات التدريبية</h4>
    <p class="section-header-desc">
      أكاديمية تعليمية أونلاين تهدف إلى تقديم محتوى تدريبي عالي الجودة يساعد
      الأفراد على
    </p>

    <a href="courses.html" class="main-btn outline fs-6">استكشف المزيد</a>
  </div>

  <div class="slider-container">
    <div class="swiper courses-mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div
            class="course-card h-100 border p-2 shadow-sm rounded-4 d-flex flex-column justify-content-between gap-3"
          >
            <div class="card-img rounded-3 overflow-hidden position-relative">
              <img src="assets/images/img.png" alt="LMS" />

              <div
                class="card-badge position-absolute py-1 px-3 rounded-2 fw-medium text-primary bg-white shadow-sm"
                style="top: 8px; left: 8px; font-size: 14px; line-height: 1"
              >
                Frontend
              </div>
            </div>

            <h6 class="text-primary">دورة تطوير واجهات المستخدم الشاملة</h6>

            <p class="fw-medium" style="font-size: 14px">
              هل تواجه صعوبة في إدارة التدريب والتعليم داخل مؤسستك وتبحث عن نظام
              إدارة تعلم احترافي...
            </p>

            <a href="#" class="main-btn text-center fs-6">استكشف المزيد</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="course-card h-100 border p-2 shadow-sm rounded-4 d-flex flex-column justify-content-between gap-3"
          >
            <div class="card-img rounded-3 overflow-hidden position-relative">
              <img src="assets/images/img.png" alt="LMS" />

              <div
                class="card-badge position-absolute py-1 px-3 rounded-2 fw-medium text-primary bg-white shadow-sm"
                style="top: 8px; left: 8px; font-size: 14px; line-height: 1"
              >
                Frontend
              </div>
            </div>

            <h6 class="text-primary">دورة تطوير واجهات المستخدم الشاملة</h6>

            <p class="fw-medium" style="font-size: 14px">
              هل تواجه صعوبة في إدارة التدريب والتعليم داخل مؤسستك وتبحث عن نظام
              إدارة تعلم احترافي...
            </p>

            <a href="#" class="main-btn text-center fs-6">استكشف المزيد</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="course-card h-100 border p-2 shadow-sm rounded-4 d-flex flex-column justify-content-between gap-3"
          >
            <div class="card-img rounded-3 overflow-hidden position-relative">
              <img src="assets/images/img.png" alt="LMS" />

              <div
                class="card-badge position-absolute py-1 px-3 rounded-2 fw-medium text-primary bg-white shadow-sm"
                style="top: 8px; left: 8px; font-size: 14px; line-height: 1"
              >
                Frontend
              </div>
            </div>

            <h6 class="text-primary">دورة تطوير واجهات المستخدم الشاملة</h6>

            <p class="fw-medium" style="font-size: 14px">
              هل تواجه صعوبة في إدارة التدريب والتعليم داخل مؤسستك وتبحث عن نظام
              إدارة تعلم احترافي...
            </p>

            <a href="#" class="main-btn text-center fs-6">استكشف المزيد</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="course-card h-100 border p-2 shadow-sm rounded-4 d-flex flex-column justify-content-between gap-3"
          >
            <div class="card-img rounded-3 overflow-hidden position-relative">
              <img src="assets/images/img.png" alt="LMS" />

              <div
                class="card-badge position-absolute py-1 px-3 rounded-2 fw-medium text-primary bg-white shadow-sm"
                style="top: 8px; left: 8px; font-size: 14px; line-height: 1"
              >
                Frontend
              </div>
            </div>

            <h6 class="text-primary">دورة تطوير واجهات المستخدم الشاملة</h6>

            <p class="fw-medium" style="font-size: 14px">
              هل تواجه صعوبة في إدارة التدريب والتعليم داخل مؤسستك وتبحث عن نظام
              إدارة تعلم احترافي...
            </p>

            <a href="#" class="main-btn text-center fs-6">استكشف المزيد</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="course-card h-100 border p-2 shadow-sm rounded-4 d-flex flex-column justify-content-between gap-3"
          >
            <div class="card-img rounded-3 overflow-hidden position-relative">
              <img src="assets/images/img.png" alt="LMS" />

              <div
                class="card-badge position-absolute py-1 px-3 rounded-2 fw-medium text-primary bg-white shadow-sm"
                style="top: 8px; left: 8px; font-size: 14px; line-height: 1"
              >
                Frontend
              </div>
            </div>

            <h6 class="text-primary">دورة تطوير واجهات المستخدم الشاملة</h6>

            <p class="fw-medium" style="font-size: 14px">
              هل تواجه صعوبة في إدارة التدريب والتعليم داخل مؤسستك وتبحث عن نظام
              إدارة تعلم احترافي...
            </p>

            <a href="#" class="main-btn text-center fs-6">استكشف المزيد</a>
          </div>
        </div>
      </div>
    </div>

    <button id="courses-btn-prev" class="slider-btn prev">
      <i class="bi bi-arrow-left"></i>
    </button>
    <button id="courses-btn-next" class="slider-btn next">
      <i class="bi bi-arrow-right"></i>
    </button>
  </div>

  <div class="d-flex justify-content-center gap-2 mt-4 d-lg-none">
    <button id="courses-btn-prev-mobile" class="slider-btn">
      <i class="bi bi-arrow-right"></i>
    </button>
    <button id="courses-btn-next-mobile" class="slider-btn">
      <i class="bi bi-arrow-left"></i>
    </button>
  </div>
</section>
