<section class="hero-section bg-primary">
  <img src="assets/images/hero-bg.png" class="hero-bg" alt="" />

  <div
    class="hero-container text-white d-flex flex-column-reverse flex-lg-row justify-content-center align-items-center gap-4"
  >
    <div class="img-side d-none d-xl-flex">
      <img src="assets/images/trainer.png" class="trainer-img" alt="Trainer" />
    </div>

    <div
      class="content-side d-flex flex-column justify-content-center align-items-center gap-4 text-center"
    >
      <h1 class="fw-bold">
        استثمر في مهاراتك مع <br />
        <span class="text-secondary">أفضل الدورات</span>
      </h1>
      <p
        class="lead opacity-75 text-white fs-6 fw-light"
        style="max-width: 550px"
      >
        أكاديمية تعليمية أونلاين تهدف إلى تقديم محتوى تدريبي عالي الجودة يساعد
        الأفراد على تطوير مهاراتهم واكتساب خبرات عملية تؤهلهم لسوق العمل.
      </p>
      <a href="courses.html" class="main-btn secondary mt-4">
        الدورات التدريبية <i class="bi bi-arrow-left me-2"></i>
      </a>
    </div>
  </div>
</section>
