<section class="sectionPadding">
  <div class="container">
    <div class="row g-3 g-lg-5">
      <div
        class="col-12 col-lg-6 d-flex flex-column gap-3 gap-lg-5 order-2 order-lg-1"
      >
        <div>
          <span class="text-secondary fw-medium mb-2">ماذا تعرف عني</span>
          <h2 class="text-primary fw-bold" style="max-width: 400px">
            شــغــفي هــو نــقــل الــمــعــرفـــة وبناء قدرات الجيل القادم
          </h2>
        </div>

        <p class="section-header-description">
          أكاديمية تعليمية أونلاين تهدف إلى تقديم محتوى تدريبي عالي الجودة يساعد
          الأفراد على تطوير مهاراتهم واكتساب خبرات عملية تؤهلهم لسوق العمل. توفر
          الأكاديمية مجموعة متنوعة من الدورات في مجالات مختلفة، يتم إعدادها
          وتقديمها بواسطة مدربين متخصصين بخبرة حقيقية. نركز على تقديم تجربة
          تعليمية مرنة وسهلة الوصول، تتيح للمتعلم الدراسة في أي وقت ومن أي مكان،
          مع محتوى منظم، وتطبيقات عملية، ودعم مستمر لضمان تحقيق أفضل النتائج.
        </p>

        <ul class="list-unstyled d-flex flex-column gap-2">
          <li
            class="d-flex align-items-start gap-3 fs-5 fw-medium"
            style="color: var(--p)"
          >
            <img
              src="assets/images/check-circle.png"
              alt=""
              style="width: 1.6rem; height: 1.6rem; margin-top: 0.4rem"
            />
            خبرة عملية قوية في المجال مع تطبيقات حقيقية
          </li>
          <li
            class="d-flex align-items-start gap-3 fs-5 fw-medium"
            style="color: var(--p)"
          >
            <img
              src="assets/images/check-circle.png"
              alt=""
              style="width: 1.6rem; height: 1.6rem; margin-top: 0.4rem"
            />
            خبرة عملية قوية في المجال مع تطبيقات حقيقية
          </li>
          <li
            class="d-flex align-items-start gap-3 fs-5 fw-medium"
            style="color: var(--p)"
          >
            <img
              src="assets/images/check-circle.png"
              alt=""
              style="width: 1.6rem; height: 1.6rem; margin-top: 0.4rem"
            />
            خبرة عملية قوية في المجال مع تطبيقات حقيقية
          </li>
          <li
            class="d-flex align-items-start gap-3 fs-5 fw-medium"
            style="color: var(--p)"
          >
            <img
              src="assets/images/check-circle.png"
              alt=""
              style="width: 1.6rem; height: 1.6rem; margin-top: 0.4rem"
            />
            خبرة عملية قوية في المجال مع تطبيقات حقيقية
          </li>
        </ul>

        <div class="d-flex">
          <a href="about/trainer.html" class="main-btn"
            >استكشف المزيد عنى <i class="bi bi-arrow-left mt-2"></i
          ></a>
        </div>
      </div>

      <div class="col-12 col-lg-6 order-1 order-lg-2">
        <div class="w-100 who-we-are-image">
          <img
            src="assets/images/img.png"
            alt="طبشور"
            class="rounded-5 w-100 h-100 object-fit-cover"
          />

          <div class="flout-card start">
            <img src="assets/images/certificate.png" alt="" />

            <div>
              <p class="desc">شهادات معتمدة</p>
              <h5 class="title">لجميع الدورات</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
